*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #E9ECF8;
}

img{
    margin: 30px;

}

.texto{
    display: flex;
    width: 800px;
    justify-content: center;
    box-sizing: border-box;
    
}

textarea{
    border-radius: 20px;
    
}

.texto ::placeholder{
    text-align: center;
    font-size: 20px;
    padding-top: 25px; 
    overflow:hidden;
    color: #0A3871;
    
}

.lateral{
    display: flex;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 20px;
    margin: 50px;
    float: right;
    width: 300px; 
    height: 750px; 
    margin-top: -100px;
}

.lateral img{
    position: relative;
    left: 10px;
    width: 200px;
    height: 200px;
    margin-top: 100px;
    
}




