html {
  box-sizing: border-box;

}

*,
*::before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: #f3f5fc;
  background-repeat: no-repeat;
  background-size: cover;
}


.bold {
  font-weight: bold;
}

.flex {
  display: flex;
}

.encriptar {
  display: grid;
}

.Solo {
  border-radius: 50%;
  color: #e8ecf8;
  padding: 0.35rem 1rem;
  background-color: #757882;
}

.padding-user {
  padding: 0;
}

.padding-result {
  padding: 3.2rem;
}

.display-none {
  display: none;
}

@media (min-width: 1080px) {
  .padding-user {
    padding: 3.2rem;
  }
}


.logo {
  width: 3rem;
}

main {
  height: 100vh;
  width: 90%;
  margin: 0 auto;
  padding: 3rem 0;
  grid-template-rows: 2fr 1fr;
  gap: 3rem;
}

.user {
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}

textarea {
  font-size: 1.75rem;
  width: 90%;
  display: block;
  background-color: unset;
  border: none;
  margin: 1.5rem auto;
  padding: 3rem;
  resize: none;
  height: 65%;
}

textarea:focus {
  outline: none;
}

textarea::placeholder {
  font-weight: bolder;
  color: #0a3871;
}

*:disabled {
  background-color: transparent;
  color: #000;
  cursor: text;
}

label {
  font-size: 1.2rem;
  color: #757882;
}

.flex-button {
  gap: 2rem;
  padding-top: 2rem;
  justify-content: space-around;
}

button {
  font-size: 1.75rem;
  border-radius: 2.4rem;
  padding: 1rem;
  width: 100%;
  cursor: pointer;
}

.button-blue {
  color: #fff;
  background-color: #0a3871;
  border: none;
}

.button-grey {
  color: #0a3871;
  background-color: unset;
  border: 1px solid #0a3871;
}

/* MediaQueries */
@media (min-width: 1080px) {
  main {
    grid-template-rows: none;
    grid-template-columns: 2fr 1fr;
  }
  .logo {
    width: 3.5rem;
  }
  textarea {
    font-size: 2.5rem;
    margin: 3rem auto;
    height: 80%;
  }
  button {
    font-size: 2rem;
  }
}

@media (min-width: 1440px) {
  main {
    width: 75%;
  }
}

/* Translation */
.translation {
  z-index: 10;
  flex-direction: column;
  border-radius: 3.2rem;
  background-color: #fff;
}

.not-found {
  gap: 1.6rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.not-found img {
  display: none;
}

.empty {
  font-size: 2rem;
}

.empty-legend {
  font-size: 1.5rem;
}

.text-found {
  justify-content: space-between;
}

@media (min-width: 1080px) {
  .not-found img {
    width: 75%;
    display: unset;
  }
}
